requests==2.27.1
tencentcloud_sdk_python==3.0.658
google-cloud-storage==2.0.0
kubernetes==24.2.0
python-jenkins==1.7.0
tencentcloud-sdk-python==3.0.658
tencentcloud-sdk-python-intl-en==3.0.532
cos-python-sdk-v5==1.9.20
python-dotenv==0.20.0